header {
  padding: 25px 35px;

  background-color: rgba(0,0,0, 0.05);

  display:flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 20px;
    font-weight: 700;
  }

  .right {
    a, button { 
      color: unset; text-decoration: unset;

      font-weight: 600;
      padding: 10px 14px;
      border-radius: 5px;

      border: none;
      background-color: unset;

      &.blue {
        color: white;
        background-color: blue;
      }

      +a {
        margin-left: 15px;

        @media only screen and (max-width: 700px) {
          margin-left: 1px;
        } 
      }
    }

    // to hide toggle button in desktop
    @media only screen and (min-width: 700px) {
      .toggle {
        display: none;
      }
    } 

  }
}